{% load static %}
<!DOCTYPE html>
<!-- prettier-ignore -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <div class="" id="header">
      <span class="logo">E-Learning</span>
      <span class="user">
        {% if request.user.is_authenticated %} Hello 
        {{ request.user.first_name|default:request.user.username }}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <input type="submit" value="logout">
        </form>
        {% else %}
        <a href="{% url 'login' %}">Log-in</a>
        {% endif %}
      </span>
    </div>
    <div id="content">{% block content %} {% endblock content %}</div>
  </body>
</html>
